h1 {
  float: center;
  text-align: center;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

#planets {
  float: center;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: italic;
}

.earth {
  color: #66D36D;
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.mars {
  color: #FF6F61;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.saturn {
  color: #F7C04A;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.neptune {
  color: #4A90E2;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

